.iconRotate {
    animation: iconRotator 1s linear 0s 1;
}

@keyframes iconRotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.zoom {
    transition: all 0.5s linear;
}

.zoom:hover {
    transform: scale(1.05);
}